---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Sneakers Store</h1>
    <ul>
        Redes sociales
        <li><a href="{{ site.facebook }}">Facebook</a></li>
        <li><a href="{{ site.instagram }}">Instagram</a></li>
        <li><a href="{{ site.twitter }}">Twitter</a></li>
    </ul>

    <p> &copy; Designed by Milton Duran</p>
</body>
</html>